<div class="hero-unit">
  <h1>Meet, Giygas</h1>
  <p>Giygas watches the Guild Wars 2 market prices like a hawk. He carefully goes through all of the crafting recipes and calculates how much coin you stand to earn, or lose by crafting it!</p>
</div>
