<%= render "header" %>

<div class='well'>
  <%= render "crafting_prompt" %>
  <p><em>Only the 100 most profitable recipes whose ingredients are immediately available on the market, and whose output is immedietly sellable on the market are shown below. Recipe data is from <a href="http://www.gw2db.com/recipes">GW2DB</a>. Price data is from the official GW2 trading post.</em></p>
  <%= render "updated_at" %>
</div>
<% cache do %>
  <% @recipes = Recipe.valid.sort_by{|r| -r.profit_margin}.first(100) %>
  <div class='row'>
    <%= render @recipes %>
  </div>
<% end %>
