<%= render "header" %>

<div class='well'>
  <%= render "crafting_prompt" %>
  <p><em>Only recipes whose ingredients are immediately available on the market, and whose output is immedietly sellable on the market are shown below.</em></p>
  <%= render "updated_at" %>
</div>
<% cache do %>
  <% @recipes = Recipe.valid.sort_by{|r| -r.profit_margin}.first(100) %>
  <div class='row'>
    <%= render @recipes %>
  </div>
<% end %>
